.flexItems {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    background-color: #8284fa;
    border-radius: 10px;
    padding-inline: 5px;
}

.datePicker {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 10px;
}